// 项目scss全局变量

$base-menu-width:260px; // 侧边菜单宽度
$base-menu-min-width:50px;
$base-menu-background:#282c34; // 侧边菜单背景色#001529
$base-menu-color:#ffffff; // 侧边菜单文字颜色
$base-menu-logo-height:50px;
$base-logo-title-fontSize:20px;
$base-tabbar-height:50px; // 顶部导航高度
$base-tabbar-background:rgb(176, 230, 248); // 顶部导航背景色
$base-content-background:#ffefd5